@font-face {
    font-family: 'MiSans-Regular';
    src: url('./MiSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MiSans-Regular', sans-serif;
}
